* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'montseratt', sans-serif;
}
.welcome-page {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    .left-pane {
        color: #fff;
        .title {
            font-size: 50px;
            font-weight: 700;
            margin-top: 150px;
        }
        .notes {
            font-size: 20px;
        }
    }
    .right-pane {
        margin-right: -20rem;
        margin-left: 1.5rem;
    }
}

//Styles for mobile view
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'montseratt', sans-serif;
    }
    .welcome-page {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
        .left-pane {
            display: none;
            color: #000;
            margin-bottom: 40px;
            .title {
                font-size: 30px;
                font-weight: 800;
                margin-top: 20px;
            }
            .notes {
                font-size: 18px;
            }
        }
        .right-pane {
            min-width: 99.99vw;
            margin: 20px -3px 0px -10px;
        }
    }
    
}